
interfaces {
{% for interface in interfaces %}
  {{ interface.name }} {
      description "{{ interface.description }}";
      unit 0 {
          family inet {
              address {{ interface.ip }}/{{ interface.mask }};
          }
      }
  }
{% endfor %}
}
